
<div class="container">
  <div class="col-md-5">
      <div class="form-area">  
          <form [formGroup]="userForm"  (ngSubmit)="onSubmit()" novalidate>
          <br style="clear:both">
                      <h3 style="margin-bottom: 25px; text-align: center;">Student Form</h3>
                      
                      <div class="form-group">
                          <label>Name</label> 
               
                <input type="text" class="form-control" name="name" placeholder="Name" formControlName="name" #refName>
               <!-- <b>{{refName.className}}</b> -->
              </div>
               <div *ngIf = "userForm.controls['name'].hasError('required')"  class="alert alert-danger">
                 Please enter name
               </div>
               <div *ngIf = "userForm.controls['name'].hasError('minlength')"  class="alert alert-danger">
                   Please enter minimum of 4 character
               </div>
               <div *ngIf = "userForm.controls['name'].hasError('maxlength')"  class="alert alert-danger">
                   Please enter maxmium of 10 character
               </div>

              



            <div class="form-group">
              <label>Email</label>
              
           
            <input type="email" class="form-control" name="email"  placeholder="Email" formControlName="email">
        <div *ngIf = "userForm.controls['email'].hasError('required') && (userForm.controls['email'].dirty || userForm.controls['email'].touched)"  class="alert alert-danger">
            Please enter email
        </div>
        
        <div *ngIf = "userForm.controls['email'].hasError('pattern')"  class="alert alert-danger">
            Please enter valid email
        </div>
      </div>




            <div class="form-group">
              <label>Mobile Number</label>
              <input type="text" class="form-control" name="mobile" formControlName="mobile" placeholder="Mobile Number">
              <div *ngIf = "userForm.controls['mobile'].hasError('required') && (userForm.controls['mobile'].dirty || userForm.controls['mobile'].touched)"  class="alert alert-danger">
                  Please enter mobile no
              </div>
              <div *ngIf = "userForm.controls['mobile'].hasError('pattern')"  class="alert alert-danger">
                  Please enter valid mobile no
              </div> 
            </div>



             <!-- address group field validation -->
        <div formGroupName="address">  

            <!-- street field validation -->
            <div class="form-group">
                  <label>Street</label>
                  <input type="text" class="form-control" name="street" formControlName="street">
            </div>
            <div *ngIf = "userForm.controls['address'].controls['street'].hasError('required')  && (userForm.controls['address'].controls['street'].dirty || userForm.controls['address'].controls['street'].touched)"  class="alert alert-danger">
                Please enter street
            </div>


            <!-- city field validation -->
              <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control" name="city" formControlName="city"> 
              </div>
              <div *ngIf = "userForm.controls['address'].controls['city'].hasError('required') && (userForm.controls['address'].controls['city'].dirty || userForm.controls['address'].controls['city'].touched)"  class="alert alert-danger">
                  Please enter city
              </div>
        </div>

    
                     
              
          <button type="submit" [disabled]="userForm.invalid" name="submit" class="btn btn-primary pull-right">Submit Form</button>
          </form>
      </div>
  </div>
  </div>