
<div class="tab">
  <button class="tablinks" (click)="openCity(event, 'Delhi')">Delhi</button>
  <button class="tablinks" (click) ="openCity(event, 'Pune')">Pune</button>
  <button class="tablinks" (click) ="openCity(event, 'Mumbai')">Mumbai</button>
</div>

<div id="Delhi" class="tabcontent">
   
  <h3>Delhi</h3>
  <img src="..\assets\d1.jpg">
  <p>Delhi is the capital city of India.</p>
</div>

<div id="Pune" class="tabcontent">
  <h3>Pune</h3>
  <img src="..\assets\d1.jpg">
  <p>Pune is in India.</p> 
</div>

<div id="Mumbai" class="tabcontent">
  <h3>Mumbai</h3>
  <img src="..\assets\d1.jpg">
  <p>Mumbai is the commercial capital of India.</p>
</div>

