
<h1>Student Information</h1>

  <input [(ngModel)]="fname" type="text" class="form-control mb-2 mr-sm-2"placeholder="First name">
  <p class='text-error'>{{fnameError}}</p>
  <tr></tr>
  <input [(ngModel)]="lname" type="text" class="form-control" placeholder="last LastName">
  <p class='text-error'>{{lnameError}}</p>
  <tr></tr>
<div>
<input [(ngModel)]="number" name="standalone" type="text" class="form-control" id="number" placeholder="Number">
<p class='text-error'>{{numberError}}</p>
</div>

  

  <button type="submit" class="btn btn-primary mb-2"(click)="add()">Add</button>


<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of ad;let i = index" (click)="showStudent(i) ">
     <th scope="row">{{id+1}}</th>
     <td>{{x.fname}}</td>
     <td>{{x.lname}}</td>
     <td>{{x.number}}</td>

     <div class="form-group">
      <button class="btn btn-success" (click)="updateStudent(i)">Update</button>
      <button class="btn btn-danger" (click)="deleteStudent(i)">Delete</button>
  </div>
    </tr>
  </tbody>
</table>
 <!-- <div app-custom></div>
<div class="topnav" id="myTopnav">

    <div>
    <a href="#home"  class="active">Delhi</a>
     </div>

<div>
    <a href="#news" onclick="Event" >Mumbai</a>
    

</div>
    <a href="#contact">Pune</a>
    
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  
  <div style="padding-left:16px">
        <h2>Delhi</h2>
        <p>Hiii....</p>
        <img src=".\assets\d1.jpg">
      </div>
      

      

  <script>
  function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
          x.className += " responsive";
      } else {
          x.className = "topnav";
      }
  }
  </script> -->


  
  